<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to user_signed_in? ? alerts_path : root_path, class: "d-flex flex-row navbar-brand",
        input_html: {data: {bs_toggle: "offcanvas", bs_target: "#offcanvas"}} do %>
      <%= cl_image_tag("ouicity_logo_j5rhro") %>
      <h2 id="logo" class="ms-3">ouicity</h2>
    <% end %>

      <ul class="navbar-nav me-1 mb-1 d-flex flex-row align-self-end justify-content-evenly">
        <% if user_signed_in? && current_user.role == "resident" %>
          <li class="">
            <%= link_to new_intake_category_path do %>
              <%= cl_image_tag("send_alert_hiapls", width:40, height:40, alt: "Send an alert") %>
            <% end %>
          </li>
          <li class="ms-3">
            <%= link_to alerts_path do %>
              <%= cl_image_tag("map_alerts_m45pav", width:40, height:40, alt: "All Alerts") %>
            <% end %>
          </li>
          <li class="ms-3">
            <%= link_to my_alerts_alerts_path do %>
              <%= cl_image_tag("user_alerts_pztpea", width:40, height:40, alt: "Your Alerts") %>
            <% end %>
          </li>
          <li class="ms-3">
            <%= link_to edit_user_registration_path do %>
              <%= cl_image_tag("settings_3_p4ptmn", width:40, height:40, alt: "Settings") %>
            <% end %>
          </li>
          <li class="ms-3">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
              <%= cl_image_tag("logout_jayyxe", width:40, height: 40, atl: "Logout") %>
            <% end %>
          </li>
        <% elsif user_signed_in? && current_user.role == "worker" %>
          <a class="me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <%= cl_image_tag("menu_icon_1_hrixtz",width:40, height:40) %>
          </a>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
