<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "d-flex flex-row navbar-brand" do %>
      <%= image_tag "ouicity_logo.png" %>
      <h2 id="logo" class="ms-3">ouicity</h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="px-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Send an alert">
            <%= link_to new_intake_category_path do %>
              <%= image_tag "send_alert_icon.png", width:50, height:50 %>
            <% end %>
          </li>
          <li class="px-2">
            <%= link_to my_alerts_alerts_path do %>
              <%= image_tag "your_alerts_icon_1.png", width:50, height:50 %>
            <% end %>
          </li>
          <li class="px-2 pt-2">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
              <%= image_tag "sign_out.png", width:30, height: 30 %>
            <% end %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
