<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to user_signed_in? ? alerts_path : root_path, class: "d-flex flex-row navbar-brand",
        input_html: {data: {bs_toggle: "offcanvas", bs_target: "#offcanvas"}} do %>
      <%= cl_image_tag("ouicity_logo_j5rhro") %>
      <h2 id="logo" class="ms-3">ouicity</h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-end">
        <% if user_signed_in? && current_user.role == "resident" %>
          <li class="mt-2 pe-1">
            <p><%= link_to new_intake_category_path do %>
              <%= cl_image_tag("jfxjmvn9fxu1j1xnqxra", width:30, height:30) %>
              Send an alert</p>
            <% end %>
          </li>
          <li class="">
            <p><%= link_to alerts_path do %>
              <%= cl_image_tag("alerts_map_a38qo6", width:35, height:35) %>
              All Alerts</p>
            <% end %>
          </li>
          <li class="">
            <p><%= link_to my_alerts_alerts_path do %>
              <%= cl_image_tag("your_alerts_icon_2_ojjqca", width:48, height:48) %>
              Your Alerts</p>
            <% end %>
          </li>
          <li class="me-2">
            <p><%= link_to edit_user_registration_path do %>
              <%= cl_image_tag("pu4gww196dbv28fd1io1", width:30, height:30) %>
              Settings</p>
            <% end %>
          </li>
          <li class="my-3 me-2">
            <p><%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
              <%= cl_image_tag("pqzzjloc9zxmizway0ne", width:25, height: 25) %>
              Logout</p>
            <% end %>
          </li>
        <% elsif user_signed_in? && current_user.role == "worker" %>
          <a class="me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <%= cl_image_tag("menu_icon_1_hrixtz",width:40, height:40) %>
          </a>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
