<%# <div data-change-status-target="status"> %>
  <% case @alert.status %>
  <% when "submitted" %>
    <span class="status-bar text-muted">
      <%= image_tag("load_red.gif", width: 50) %>
      Alert <%= @alert.status %>
    </span>
  <% when "in_progress" %>
    <span class="status-bar text-muted">
      <%= image_tag("load_yellow.gif", width: 50) %>
      Alert in progress
    </span>
  <% when "resolved" %>
    <span class="status-bar text-muted">
      <%= image_tag("load_green.gif", width: 50) %>
      Alert <%= @alert.status %>
    </span>
  <% end %>
<%# </div> %>
