<div class="container">
    <h2 class="my-4"><%= @alert.title %></h2>
    <div class="row d-flex">
      <div class="col-12 col-md-6">
        <div class="alert-container">
          <div class="carousel-container">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <% if @alert.photos.size > 1 %>
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
              <% end %>
              <div class="carousel-inner rounded-4">
                <% @alert.photos.each do |photo| %>
                  <% if photo == @alert.photos[0] %>
                    <div class="carousel-item active" style="height:380px">
                      <%= cl_image_tag photo.key, class: "d-block", style: "height:auto; width:100%", crop: :fill, gravity: :center %>
                    </div>
                  <% else %>
                    <div class="carousel-item" style="height:380px">
                      <%= cl_image_tag photo.key, class: "d-block", style: "height:auto; width:100%", crop: :fill, gravity: :center %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="photo-thumbnails" style="display:flex; justify-content: flex-start">
             <% @alert.photos.each do |photo| %>
             <div class="thumbnail" style="width:100px; height:100px; margin: 20px 20px">
              <%= cl_image_tag photo.key, style: "height: 100%; width:100%; "%>
             </div>
             <% end %>
          </div>

          <div class="details-container">
            <p class="mt-3 fs-5 fw-bold"><%= @alert.address %></p>
            <p><%= @alert.description %></p>
            <div>
            <p class="fst-italic">Category: <%= @alert.category %></div>
           <div> <% if @alert.creator == current_user %>
              You added this on <%= @alert.created_at.strftime('%b %d %Y') %><br>
            <% else %>
              Added by: <%= @alert.creator.first_name %> on <%= @alert.created_at.strftime('%d %b %Y') %><br>
            <% end %>
            </div>

            <div><span class="text-muted"><i class="fa-solid fa-bars-progress"></i> Alert <%= @alert.status %></span></p> </div>

            <%# Upvotes %>
            <%= render 'shared/like_link', alert: @alert %> <%= render 'shared/likes', alert: @alert %>

             <div class="container m-2">
              <%= simple_form_for( [@alert, @assignment ]) do |f| %>
                <div class="form-input">
                  <%#= f.association :worker %>
                  <%#= f.association :worker, collection: User.active.order(:first_name)%>
                  <%= f.association  :worker, label_method: :first_name, value_method: :id, include_blank: false %>
                </div>
                <%= f.submit 'Assign', class: "btn btn-primary" %>
              <% end %>


                <%# = link_to "Assign", edit_alert_path(@alert), class: "btn btn-warning rounded-3 my-2 fw-bold text-white" %>
                <%= link_to "Subscribe", edit_alert_path(@alert), class: "btn btn-warning rounded-3 my-2 fw-bold text-white" %>

           </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5">
        <div class="map-container">
          <div style="width: 100%; height: 628px; border-radius:25px;"
            data-controller="alert-show-map"
            data-alert-show-map-marker-value="<%= @marker.to_json %>"
            data-alert-show-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-alert-show-map-target="map">
          </div>
        </div>
      </div>
     </div>
</div>
