<div class="container">
  <%= render "shared/notification" %>
  <%= render "shared/offcanvas" %>
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <div class="map-container">
        <div class='map-size'
          style="border-bottom-left-radius:24px;
                 border-bottom-right-radius:24px;"
          data-controller="map"
          data-map-alerts-value="<%= @alerts.to_json(include:{ photos: { methods: [:url] }}) %>"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-target="map">
        </div>
      </div>
    </div>
    <input type="hidden" id="alert-path" name="alert-path" value="<%= alerts_path %>">
    <div data-controller="alerts"  class="col-12 col-lg-6">
      <div class="search-box mt-3 shadow-sm d-flex flex-column w-100">
        <h3>Hi <% if current_user %>
                  <%= current_user.first_name %>
                  <% else %>
                  <%= "there" %>
                  <% end %>
        !</h3>
        <h4>Can you tell us where the issue is?</h4>
        <p>Don't see your issue listed here? <%= link_to "Send an alert.", new_intake_category_path %></p>
        <div id="geocoder" class="geocoder"
             data-action="submit->map#buildAlertList submit->map#captureSearchResult"></div>
      </div>

      <div class="d-flex justify-content-center mt-4 ">
        <h5 id="alerts-heading">Most recent alerts
          <a data-action="click->alerts#showAlertList"
          class="fs-3 toggle">
          <i class="fa-solid fa-circle-chevron-down"></i></a></h5>
      </div>

      <div data-alerts-target="list" id="listings" class="listings">
        <% @alerts.last(3).each do |alert| %>
          <%= render 'shared/alert_banner', alert: alert %>
        <% end %>
      </div>
    </div>
  </div>
</div>
