<div class="container">
  <%= render "shared/offcanvas" %>
  <div class="row align-items-top">
    <div class="col-12 col-lg-12">
      <div class="map-container mt-3">
        <div class='map-size-worker'
          data-controller="map"
          data-map-alerts-value="<%= @alerts.to_json(include:{ photos: { methods: [:url] }}) %>"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-target="map">
        </div>
      </div>
    </div>
    <div data-controller="search-worker-alerts"  class="col-12 col-lg-12">
      <div class="header-bar d-flex flex-row justify-content-between align-items-center">
        <div class="search-box my-3 shadow-sm d-flex flex-column w-50">
          <h3>Bonjour <%= current_user.first_name %>!</h3>
          <%= form_with url: alerts_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control rounded-left background-white fs-6",
              placeholder: "What is today's focus?"
            %>
            <%= submit_tag "Search", class: "btn btn-primary rounded-right fs-6 text-white" %>
          <% end %>
        </div>
        <h1><%= @unresolved_alerts.count %> unresolved alerts</h1>
      </div>
      <%= column_chart Alert.group(:category).count, colors: ["#A760FF"] %>
      <%# <div class="category-count-container d-flex flex-row justify-content-evenly">
        <div class="category-icon">
          <i class="fa-solid fa-spray-can fs-1 text-white"></i>
        </div>
        <div class="category-icon">
          <i class="fa-solid fa-trash fs-1 text-white"></i>
        </div>
        <div class="category-icon">
          <i class="fa-solid fa-screwdriver-wrench fs-1 text-white"></i>
        </div>
        <div class="category-icon">
          <i class="fa-solid fa-road fs-1 text-white"></i>
        </div>
        <div class="category-icon">
          <i class="fa-solid fa-lightbulb fs-1 text-white"></i>
        </div>
        <div class="category-icon">
          <i class="fa-solid fa-otter fs-1 text-white"></i>
        </div> %>
      <%# </div> %>
      <table class="table table-white table-hover my-3 rounded-4 shadow-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Alert</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned</th>
            <th scope="col">Created at</th>
          </tr>
        </thead>
        <tbody>
          <% @alerts.each do |alert| %>
          <tr>
            <th scope="row"><%= alert.id %></th>
            <td><%= alert.category %></td>
            <td><%= link_to alert.title.capitalize, alert %></td>
            <td><%= alert.address %></td>
            <td><span style="color:#d4cecd;"><%= alert.status %></span></td>
            <td><% if alert.assignment%>
                 <strong><%= alert.assignment.worker.first_name %></strong>
                <% else %>
                  <em style="color:#d4cecd;">unassigned</em>
                <% end %>
            </td>
            <td><%= alert.created_at.strftime('%b %d %Y') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
