<div class="container">
  <%= render "shared/offcanvas" %>
  <%= link_to alerts_path, class: "text-decoration-none", style: "color: #dcd9d7" do %>
    <i class="fa-solid fa-backward py-3"></i> Back to dashboard
  <% end %>
  <h3 class="mb-4">nยบ<%= @alert.id %> | <%= @alert.title %></h3>
  <div class="row d-flex">
    <div class="col-12 col-md-7 d-flex flex-row">
      <%= render "chatrooms/show" if @alert.chatroom %>
      <div class="map-container mb-2">
        <div style="width: 300px; height: calc(100vh - 200px); border-top-right-radius:24px; border-bottom-right-radius:24px;"
          data-controller="alert-show-map"
          data-alert-show-map-marker-value="<%= @marker.to_json %>"
          data-alert-show-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-alert-show-map-target="map">
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <div class="alert-container mb-2">
        <div class="carousel-container">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <% if @alert.photos.size > 1 %>
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
            <% end %>
            <div class="carousel-inner rounded-4" style="height: 300px;">
              <% @alert.photos.each do |photo| %>
                <% if photo == @alert.photos[0] %>
                  <div class="carousel-item active">
                    <%= cl_image_tag photo.key, class: "d-block w-100", gravity: :center %>
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, class: "d-block w-100", gravity: :center %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="details-container">
          <p class="fs-5 fw-bold"><%= @alert.address %></p>
          <p><%= @alert.description %></p>
          <p><b>Category:</b> <%= @alert.category %><br>
          <% if @alert.creator == current_user %>
            You added this on <%= @alert.created_at.strftime("%B %e, %Y") %><br>
          <% else %>
            <b>Added by:</b> <%= @alert.creator.first_name %> on <%= @alert.created_at.strftime("%B %e, %Y") %><br>
          <% end %>
          <%= @alert.upvotes %> upvotes</p>

          <%# Assignments%>
          <% if @alert.assignment %>
            <p style="margin-bottom:0"><b>Assigned to: </b><%= @alert.assignment.worker.first_name %></p>
            <%# Status %>
            <div class="status-container"
                 data-controller="submit-status">
              <%= render "shared/status_bar" %>
              <% if current_user == @alert.assignment.worker %>
                <div class="status-form-container">
                  <%= simple_form_for(@alert, defaults: { wrapper: false }, local: true,
                                        data: { submit_status_target:"form",
                                                action: "submit->submit-status#update"} ) do |f| %>
                    <div class="status-input">
                      <%=f.input :status, collection: Alert.statuses.to_a.collect{|c| [c[0].humanize(capitalize: false), c[0]]}, label: false, id: "status-select" %>
                      <%=f.submit 'Update status', class: "btn btn-info text-white fw-bold" %>
                      <% end %>
                    </div>
                </div>
              <% end %>
           </div>
          <% else %>
              <%= simple_form_for [@alert, @assignment] do |f| %>
                <div class="container mt-2 d-flex flex-row align-items-center">
                  <%=f.input :worker_id, label: false, collection: @workers, label_method: :first_name, value_method: :id,
                              input_html: { style: "background-color:white; margin-top:15px; margin-left:-8px; width:250px;" }%>
                  <%= f.submit 'Assign', class: "btn btn-info fw-bold text-white" %>
                </div>
              <% end %>
          <% end %>

          <%# Subscriptions %>
          <br>
          <% if @alert.subscribers.find { |s| s.subscriber_id == current_user.id } %>
            <div>
              <%= link_to "Unsubscribe", subscriber_path(@subscriber), data: {turbo_method: :delete}, class: "btn rounded-4 fw-bold text-white", style: "background-color: #FFCC8F;" %>
            </div>
          <% else %>
          <div>
            <%= simple_form_for [@alert, @subscriber] do |f| %>
              <%= f.submit "  Subscribe   ", class: "btn btn-warning rounded-4 fw-bold text-white" %>
            <% end %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
