<div class="container">
  <%= render "shared/offcanvas" %>
  <h3 class="my-4">nยบ<%= @alert.id %> | <%= @alert.title %></h3>
  <div class="row d-flex">
    <div class="col-12 col-md-4">
    <%= render "chatrooms/show" if @alert.chatroom %>
    </div>

    <div class="col-12 col-md-3">
      <div class="map-container mb-2">
        <div style="width: 100%; height: 628px; border-radius:25px;"
          data-controller="alert-show-map"
          data-alert-show-map-marker-value="<%= @marker.to_json %>"
          data-alert-show-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-alert-show-map-target="map">
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <div class="alert-container mb-2">
        <div class="carousel-container">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <% if @alert.photos.size > 1 %>
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
            <% end %>


          <%# Upvotes %>
            <%= render 'shared/like_link', alert: @alert %> <%= render 'shared/likes', alert: @alert %>

        <div class="details-container">
          <p class="mt-3 fs-5 fw-bold"><%= @alert.address %></p>
          <p><%= @alert.description %></p>

          <p>Category: <%= @alert.category %><br>
          <% if @alert.creator == current_user %>
            You added this on <%= @alert.created_at.strftime("%B %e, %Y") %><br>
          <% else %>
            Added by: <%= @alert.creator.first_name %> on <%= @alert.created_at.strftime("%B %e, %Y") %><br>
          <% end %>
          <%= @alert.upvotes %> upvotes <br>
          <%= render "shared/status_bar" %></p>
             <div class="container m-2">
                <%= simple_form_for(@alert) do |f| %>
                  <div class="form-input">
                    <%=f.input :status, collection: Alert.statuses.keys %>
                  </div>
                  <%= f.submit 'Update', class: "btn btn-primary" %>
                <% end %>
              </div>
          <%# Assignments%>
          <% if @alert.assignment %>
            <p class="mt-3"> Assigned to: <%= @alert.assignment.worker.first_name %></p>
          <% else %>
              <%= simple_form_for [@alert, @assignment] do |f| %>
                <div class="container mt-2 d-flex flex-row align-items-center">
                  <%=f.input :worker_id, label: false, collection: @workers, label_method: :first_name, value_method: :id,
                              input_html: { style: "background-color:white; margin-top:15px; margin-left:-8px; width:250px;" }%>
                  <%= f.submit 'Assign', class: "btn btn-primary fw-bold text-white" %>
                </div>
              <% end %>
          <% end %>

          <%# Subscriptions %>
          <%# <%= link_to "Subscribe", toggle_favorite_alert_path(@alert), remote: true, method: :post, class: "btn btn-primary fw-bold text-white" %>

          <% if @alert.subscribers.find { |s| s.subscriber_id == current_user.id } %>
            <%= link_to "Unsubscribe", subscriber_path(@subscriber), data: {turbo_method: :delete}, class: "btn btn-primary fw-bold text-white" %>
          <% else %>
            <%= simple_form_for [@alert, @subscriber] do |f| %>
              <%= f.submit "Subscribe", class: "btn btn-primary fw-bold text-white" %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
