<div class="map-banner w-100 d-flex flex-column justify-content-center align-items-center">
</div>
<div class="container">
<div class="d-flex flex-column align-items-center">
  <h2 class="my-4">New Alerts</h2>
  <div class="alerts shadow">
    <% @alerts.each do |alert| %>
      <div class="alert-card">
        <div class="alert-card-row d-flex flex-row">
            <%= image_tag "https://images.unsplash.com/photo-1513853206309-d8271d6e3a6b?
            ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format",
            style: "width:220px; height:160px; object-fit:cover;" %>
            <div class="alert-card-details align-items-center ms-3">
              <h5 class="fw-bold"><%= alert.title %></h5>
              <p><%= alert.created_at %><br>
              <%= alert.address %><br>
              Added by <%= alert.creator.first_name %>
            </div>
        </div>
        <div class="alert-card-row d-flex flex-column">
          <p><%= alert.description.first(80) %>[...]</p>
          <%= link_to "Assign Alert", root_path, class: "align-self-end btn btn-info rounded-4" %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
