<div class="container">

  <div class="row">

    <div class="column">

      <div class="container">
        <br />
        <h2><%= @alert.title %></h2>
        <br />
        <div class="carousel-container">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner rounded-4">
              <% @alert.photos.each do |photo| %>
                <% if photo == @alert.photos[0] %>
                  <div class="carousel-item active" style="height:380px">
                    <%= cl_image_tag photo.key, class: "d-block", style: "height:auto; width:100%", crop: :fill, gravity: :center %>
                  </div>
                <% else %>
                  <div class="carousel-item" style="height:380px">
                    <%= cl_image_tag photo.key, class: "d-block", style: "height:auto; width:100%", crop: :fill, gravity: :center %>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>

            <div class="container">
              <br>
              <p><%= @alert.address %>
              <br>Category: <%= @alert.category %>
              <p class="pe-5 mb-2"><%= @alert.description %>
              <br>
              <br>Added by: <%= @alert.creator.first_name %> on <%= @alert.created_at.strftime('%d %b %Y') %></p>
              <br>Status: <%= @alert.status %></p>
              <br>
              <%# Upvotes %>
              <div>
                <%= render 'alerts/like_link', alert: @alert %> <%= render 'alerts/likes', alert: @alert %>
              </div>
              <br>
            </div>
            <div class="container m-2">
              <% if @alert.creator == current_user %>
                <%= link_to "Edit this alert", edit_alert_path(@alert), class: "btn btn-warning rounded-3 my-2 fw-bold text-white" %>
              <% end %>
            </div>
            <%# <div class="container m-2"> %>
              <%# <% if current_user.role == 'worker' %>
                <%# <%= link_to "Assign", edit_alert_path(@alert), class: "btn btn-warning rounded-3 my-2 fw-bold text-white" %>
                <%# <%= link_to "Subscribe", edit_alert_path(@alert), class: "btn btn-warning rounded-3 my-2 fw-bold text-white" %>
              <%# <% end %>
            <%# </div> %>
          </div>
        </div>
      </div>

    </div>

    <div class="column">

      <div class="map-container">
        <div style="width: 100%; height: 500px;"
          data-controller="alert-show-map"
          data-alert-show-map-marker-value="<%= @marker.to_json %>"
          data-alert-show-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-alert-show-map-target="map">
        </div>
      </div>

    </div>

  </div>
</div>
